@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
#container {
    margin: 0 auto;
    width: 1200px;
}



/* ㅡㅡㅡ 헤더 영역 ㅡㅡㅡ */
header {
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    background-color: #07c;
}

/* 로고 영역 */
#logo {
    float: left;   /* 왼쪽으로 플로팅 */ 
    width: 250px;
    height: 100px;
    /* background-color: indigo; */
    line-height: 100px;
    padding-left: 20px;
}
#logo h1 {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-decoration: 0 -1px 0 #222; /* 그림자 색 */
}

/* 내비게이션 영역 */
nav {
    float: right;  /* 오른쪽으로 플로팅 */ 
    width:900px; 
    height:100px;
    /* background-color: green; */
    padding-top: 40px;
}

#topMenu {
    height: 60px;
}
#topMenu > li {
    float: left;
    position: relative; /* 서브메뉴를 ablsolute로 만들기 위해 부모요소 설정 */
}
#topMenu > li > a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px #07c; /* ?? */
    padding: 20px 60px;
}
#topMenu > li > a > span {
    font-size: 0.5em;
}
#topMenu > li > a:hover {
    color: #000;
    text-shadow: 0 -1px #07c; /* 글자가 굵어지지 않도록 지정 */
}
#topMenu > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.6);
    left: 20px;
    margin: 0;
}
#topMenu > li > ul > li {
    padding: 10px 10px 10px 30px;
}
#topMenu > li > ul > li > a {
    font-size: 14px;
    padding: 10px;
    color: #000;
}
#topMenu > li:hover > ul {
    display: block;
    z-index: 10;
}
#topMenu > li > ul > li > a:hover {
    color: #f00;
}





/* ㅡㅡㅡ 이미지 슬라이드 쇼 영역 ㅡㅡㅡ */
#slideShow {
    clear:both;   /* 플로팅 해제 */
    width:100%;
    height:300px;
    /* background-color: orange; */
    overflow: hidden;  /* 영역 넘치면 감춤 */ 
    position: relative;
}
#slides {
    position: absolute;
}
#slides > img {
    width: 100%;
    float: left;   /* 가로로 배치 */
}
button {
    position: absolute;
    height: 100%;
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent; /* 투명한 배경 */
    color: #000;
    font-weight: 800;
    font-size: 24px;
    opacity: 0.5;
}
#prev {
    left: 0;
}
#next {
    right: 0;
}
button:hover {
    background-color: #222;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}
button:focus {
    outline: 0; /* 아웃라인 없앰 */
}

/* 콘텐츠 영역 */
#contents {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

/* 탭 메뉴 영역 */
#tabMenu {
    float:left;  /* 왼쪽으로 플로팅 */ 
    width: 600px; 
    height: 100%;
    margin-top: 10px;
    /* background-color: violet; */
}
#tabMenu input[type="radio"] {
    display: none;
}
#tabMenu label {
    display: inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}
#tabMenu label:hover {
    color: #222;
    cursor: pointer;
}
#tabMenu input:checked + label {
    color: #b00;
    border: 1px solid #ddd;
    background-color: #eee;
}
#tab1:checked ~ #notice, 
#tab2:checked ~ #gallery {
    display: block;
}

.tabContent {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}
.tabContent h2 {
    display: none;
}

#notice ul {
    list-style: disc; /* 디폴트값, 맨 위 ul에서 none으로 설정했으므로 이 부분은 다시 보이도록 */ 
    margin-left: 30px;
}
#notice ul li {
    font-size: 16px;
    line-height: 2.5;
}
#gallery ul li {
    display: inline;
}

/* 퀵 링크 */
#links {
    float: right;
    width: 600px;
    height: 100%;
    /* background-color: skyblue; */
    margin-top: 15px;
}
#links ul {
    padding: 0;
    overflow: hidden; /* 넘치는 항목은 숨김 */
}
#links ul li {
    float: left; /* 가로로 배치 */
    width: 33%; /* fr은 그리드 방식에서 사용 */
    text-align: center;
    margin: 10px 0;
}
#links ul li a span {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%; /* 150px과 같음 */
    border: 1px solid #ddd;
    line-height: 150px; /* 수직으로 중간에 오게 */
}
#links ul li a p {
    margin-top: 15px;
    font-weight: 600;
    color: #666;
}
#quick-icon1 {
    background-image: url('../images/icon-1.jpg');
}
#quick-icon2 {
    background-image: url('../images/icon-2.jpg');
}
#quick-icon3 {
    background-image: url('../images/icon-3.jpg');
}






/* ㅡㅡㅡ 푸터 ㅡㅡㅡ */
footer {
    width: 100%;
    height: 100px;
    /* background-color: grey; */
    border-top: 2px solid #222;
}
#bottomMenu {
    width: 100%;
    height: 20px;
    position: relative;
}
#bottomMenu ul {
    margin-top: 15px;
}
#bottomMenu ul li {
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
}
#bottomMenu ul li:last-child {
    border-right: none;
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color: #666;
}
#sns {
    position: absolute;
    right: 0;
}
#sns ul li {
    border: none;
    padding: 5px;
}
#company {
    clear: left; /* 플로팅 해제, both도 가능 */
    margin-top: 25px;
    margin-left: 20px;
}
p {
    font-size: 14px;
    color: #aaa;
}